.purple{
  background-color: #031D31;
}
.flowerHeader{
  background: rgb(51,14,55);
  background: radial-gradient(circle at 1% 90%, rgba(51,14,55,1) 0%, rgba(24,6,24,1) 86%);
  border-radius: 0% !important;  
}


.h30{
  height: 30em;
}