body {
  margin: 0;
  font-family: 'lisbeth';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@font-face { 
  font-family: 'lisbeth'; 
  src: url('/public/fonts/lisbeth-semi-bold.otf') format('opentype'); 
  font-weight: normal; 
  font-style: normal; 
} 
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
